/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  width: 960px;
  margin: 10px auto;
}

.nav {
  text-align: right;
}


/* Post */

.post {
  width: 400px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Verdana, Arial, Tahoma, Serif;
}

.post-author, .post-body, .post-actions, .post-comments {
  padding: 5px;
}

.post-author {
  display: flex;
  height: 30px;
  align-items: center;
}

.avatar {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.avatar-1 { background: url('avatars/01.png'); background-size: contain; }
.avatar-2 { background: url('avatars/02.png'); background-size: contain; }
.avatar-3 { background: url('avatars/03.png'); background-size: contain; }
.avatar-4 { background: url('avatars/04.png'); background-size: contain; }
.avatar-5 { background: url('avatars/05.png'); background-size: contain; }
.avatar-6 { background: url('avatars/06.png'); background-size: contain; }
.avatar-7 { background: url('avatars/07.png'); background-size: contain; }
.avatar-8 { background: url('avatars/08.png'); background-size: contain; }
.avatar-9 { background: url('avatars/09.png'); background-size: contain; }
.avatar-10 { background: url('avatars/10.png'); background-size: contain; }
.avatar-11 { background: url('avatars/11.png'); background-size: contain; }
.avatar-12 { background: url('avatars/12.png'); background-size: contain; }
.avatar-13 { background: url('avatars/13.png'); background-size: contain; }
.avatar-14 { background: url('avatars/14.png'); background-size: contain; }
.avatar-15 { background: url('avatars/15.png'); background-size: contain; }
.avatar-16 { background: url('avatars/16.png'); background-size: contain; }
.avatar-17 { background: url('avatars/17.png'); background-size: contain; }
.avatar-18 { background: url('avatars/18.png'); background-size: contain; }
.avatar-19 { background: url('avatars/19.png'); background-size: contain; }
.avatar-20 { background: url('avatars/20.png'); background-size: contain; }
.avatar-21 { background: url('avatars/21.png'); background-size: contain; }
.avatar-22 { background: url('avatars/22.png'); background-size: contain; }
.avatar-23 { background: url('avatars/23.png'); background-size: contain; }
.avatar-24 { background: url('avatars/24.png'); background-size: contain; }
.avatar-25 { background: url('avatars/25.png'); background-size: contain; }
.avatar-26 { background: url('avatars/26.png'); background-size: contain; }
.avatar-27 { background: url('avatars/27.png'); background-size: contain; }

.post-body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 300px;
  background-color: #fafafa;
  padding: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.post-body span {
  font-size: 20px;
  line-height: 1.6;
  font-style: italic;
  color: #222;
}

.post-actions-like, .post-actions-unlike {
  width: 24px;
  height: 24px;
}

.post-actions-like {
  background: url('like.png');
  background-size: contain;
}

.post-actions-unlike {
  background: url('liked.png');
  background-size: contain;
}

.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.post-actions-comments {
  font-size: 11px;
  color: #222;
}

.post-comments {
  font-size: 11px;
}

.comment-author {
  font-weight: bold;
}


/* Post */

.post {
  width: 400px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Verdana, Arial, Tahoma, Serif;
}

.post-author, .post-body, .post-actions, .post-comments {
  padding: 5px;
}

.post-author {
  display: flex;
  height: 30px;
  align-items: center;
}

.avatar {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.avatar-1 { background: url('avatars/01.png'); background-size: contain; }
.avatar-2 { background: url('avatars/02.png'); background-size: contain; }
.avatar-3 { background: url('avatars/03.png'); background-size: contain; }
.avatar-4 { background: url('avatars/04.png'); background-size: contain; }
.avatar-5 { background: url('avatars/05.png'); background-size: contain; }
.avatar-6 { background: url('avatars/06.png'); background-size: contain; }
.avatar-7 { background: url('avatars/07.png'); background-size: contain; }
.avatar-8 { background: url('avatars/08.png'); background-size: contain; }
.avatar-9 { background: url('avatars/09.png'); background-size: contain; }
.avatar-10 { background: url('avatars/10.png'); background-size: contain; }
.avatar-11 { background: url('avatars/11.png'); background-size: contain; }
.avatar-12 { background: url('avatars/12.png'); background-size: contain; }
.avatar-13 { background: url('avatars/13.png'); background-size: contain; }
.avatar-14 { background: url('avatars/14.png'); background-size: contain; }
.avatar-15 { background: url('avatars/15.png'); background-size: contain; }
.avatar-16 { background: url('avatars/16.png'); background-size: contain; }
.avatar-17 { background: url('avatars/17.png'); background-size: contain; }
.avatar-18 { background: url('avatars/18.png'); background-size: contain; }
.avatar-19 { background: url('avatars/19.png'); background-size: contain; }
.avatar-20 { background: url('avatars/20.png'); background-size: contain; }
.avatar-21 { background: url('avatars/21.png'); background-size: contain; }
.avatar-22 { background: url('avatars/22.png'); background-size: contain; }
.avatar-23 { background: url('avatars/23.png'); background-size: contain; }
.avatar-24 { background: url('avatars/24.png'); background-size: contain; }
.avatar-25 { background: url('avatars/25.png'); background-size: contain; }
.avatar-26 { background: url('avatars/26.png'); background-size: contain; }
.avatar-27 { background: url('avatars/27.png'); background-size: contain; }

.post-body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 300px;
  background-color: #fafafa;
  padding: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.post-body span {
  font-size: 20px;
  line-height: 1.6;
  font-style: italic;
  color: #222;
}

.post-actions-like, .post-actions-unlike {
  width: 24px;
  height: 24px;
}

.post-actions-like {
  background: url('like.png');
  background-size: contain;
}

.post-actions-unlike {
  background: url('liked.png');
  background-size: contain;
}

.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.post-actions-comments {
  font-size: 11px;
  color: #222;
}

.post-comments {
  font-size: 11px;
}

.comment-author {
  font-weight: bold;
}


/* Post */

.post {
  width: 400px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Verdana, Arial, Tahoma, Serif;
}

.post-author, .post-body, .post-actions, .post-comments {
  padding: 5px;
}

.post-author {
  display: flex;
  height: 30px;
  align-items: center;
}

.avatar {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.avatar-1 { background: url('avatars/01.png'); background-size: contain; }
.avatar-2 { background: url('avatars/02.png'); background-size: contain; }
.avatar-3 { background: url('avatars/03.png'); background-size: contain; }
.avatar-4 { background: url('avatars/04.png'); background-size: contain; }
.avatar-5 { background: url('avatars/05.png'); background-size: contain; }
.avatar-6 { background: url('avatars/06.png'); background-size: contain; }
.avatar-7 { background: url('avatars/07.png'); background-size: contain; }
.avatar-8 { background: url('avatars/08.png'); background-size: contain; }
.avatar-9 { background: url('avatars/09.png'); background-size: contain; }
.avatar-10 { background: url('avatars/10.png'); background-size: contain; }
.avatar-11 { background: url('avatars/11.png'); background-size: contain; }
.avatar-12 { background: url('avatars/12.png'); background-size: contain; }
.avatar-13 { background: url('avatars/13.png'); background-size: contain; }
.avatar-14 { background: url('avatars/14.png'); background-size: contain; }
.avatar-15 { background: url('avatars/15.png'); background-size: contain; }
.avatar-16 { background: url('avatars/16.png'); background-size: contain; }
.avatar-17 { background: url('avatars/17.png'); background-size: contain; }
.avatar-18 { background: url('avatars/18.png'); background-size: contain; }
.avatar-19 { background: url('avatars/19.png'); background-size: contain; }
.avatar-20 { background: url('avatars/20.png'); background-size: contain; }
.avatar-21 { background: url('avatars/21.png'); background-size: contain; }
.avatar-22 { background: url('avatars/22.png'); background-size: contain; }
.avatar-23 { background: url('avatars/23.png'); background-size: contain; }
.avatar-24 { background: url('avatars/24.png'); background-size: contain; }
.avatar-25 { background: url('avatars/25.png'); background-size: contain; }
.avatar-26 { background: url('avatars/26.png'); background-size: contain; }
.avatar-27 { background: url('avatars/27.png'); background-size: contain; }

.post-body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 300px;
  background-color: #fafafa;
  padding: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.post-body span {
  font-size: 20px;
  line-height: 1.6;
  font-style: italic;
  color: #222;
}

.post-actions-like, .post-actions-unlike {
  width: 24px;
  height: 24px;
}

.post-actions-like {
  background: url('like.png');
  background-size: contain;
}

.post-actions-unlike {
  background: url('liked.png');
  background-size: contain;
}

.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.post-actions-comments {
  font-size: 11px;
  color: #222;
}

.post-comments {
  font-size: 11px;
}

.comment-author {
  font-weight: bold;
}

.comment-form {
  margin-bottom: 5px;
}
